*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
 height: 100%;
 width: 100%;
background-color: black;
}

main {
    height: 100%;
    width: 100%;
display: flex;

    section{
height: 100%;
flex-grow: 1;
border: 2px solid rgb(0, 0, 0);
        background-size: cover;
        background-position: center;
        transition: all 0.7s linear ;
        cursor: pointer;
    }

section:hover{
    flex-grow:2;
    
}

    section:nth-child(1){
        background-image: url(./hulk.jpg);
    }
  section:nth-child(2){
        background-image: url(./ironmen.jpg);

    }
      section:nth-child(3){
        background-image: url(./captainamerica.jpg);
    }
  section:nth-child(4){
        background-image: url(./spiderman.jpg);
  }
      section:nth-child(5){
        background-image: url(./thor.jpg);
    }
}
